
.profile_font {
    font-weight: 600;
}

.profile_head {
    color: #163853;
}

.profile_details_1 {
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    /* letter-spacing: normal; */
    text-align: justify;
    color: #000;
}

.wokr_experiences_head {
    color: #163853;
}